@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-center {
  @include flex(center, center);
}

$primary-color: #3483fa;
$secondary-color: #b1b1b1;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: Poppins, Lato, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  @include flex(flex-start, space-around);
  width: 100%;
}

.items {
  @include flex-center;
  flex-basis: 80%;
  flex-wrap: wrap;
}

.item {
  @include flex-center;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  padding: 20px;
  width: 220px;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 5px 2.5px rgba(0,0,0,0.15);
  }
  .item__sku {
    display: none;
  }
  .item__title {
    flex-grow: 1;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
  }
  .item__image {
    width: 80%;
  }
  .item__add {
    background-color: transparent;
    border: 1.5px solid $primary-color;
    border-top: 4px solid $primary-color;
    box-shadow: 2px 6px 15px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    padding: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    &:hover {
      background: linear-gradient(136deg, $primary-color 52%, #9b5cff 100%);
      border: 1.5px solid $primary-color;
      border-top: 4px solid $primary-color;
      color: rgb(221, 221, 221);
    }
  }
}

.cart {
  @include flex-center;
  flex-basis: 20%;
  flex-flow: column wrap;
  background-color: $secondary-color;
  border-radius: 25px;
  box-shadow: 2px 6px 15px 5px rgba(143, 143, 143, 0.4);
  color: white;
  font-size: 12px;
  line-height: 24px;
  position: sticky;
  margin-right: 20px;
  top: 20px;
  .cart__title {
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
  } 
}

.empty-cart {
  background: $primary-color;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 25px;
  box-shadow: 2px 6px 15px 5px rgba(143, 143, 143, 0.8);
  width: 90%;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 5%;
  padding: 10px;
  &:hover {
    opacity: 0.8;
  }
}
