* {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: blue;
}

#divdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#headerdiv {
  width: 63%;
  margin-left: 4%;
  margin-top: 1%;
  color: white;
}

#subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}

#search {
  width: 400px;
  height: 30px;
}

#buttonsearch {
  height: 30px;
  width: 30px;
}

body {
  background-color: rgb(199, 199, 199);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: blue;
  color: white;
  font-weight: 900;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  border-radius:0px 0px 10px 10px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}
